* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 50px;
  background-color: #FF9A4B;
}
main{
  margin-top:50px;
  margin-bottom: 50px;
}
.img1{
  height: 150px;
  width: 300px;
  background-image: url(img/flow01.png);
}
.img2{
  height: 150px;
  width: 300px;
  background-image: url(img/flow02.png);
}
.img3{
  height: 150px;
  width: 300px
  background-image: url(img/flow03.png);
}
footer{
  height: 50px;
  background-color: #AAAAAA;
}