* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 50px;
  background-color: #FF9A4B;
}
main{
  margin-top:50px;
  margin-bottom: 50px;
}
footer{
  height: 50px;
  background-color: #AAAAAA;
}